# DICTIONARY IN PYTHON
- Dictionaries are used to store data values in key:value pairs
- They are unordered, mutable(changeable) & don’t allow duplicate keys

In [4]:
dict1 = {} # null dictionary
dict1["key"] = "value"
dict1[1]="one" # to asign or add a new element
dict1[2]="two"
print(dict1)

{'key': 'value', 1: 'one', 2: 'two'}

In [8]:
# values can be of any data type, list, or tuple, and keys are only immutable objects(can't be lists)
dict2 = {"key":"value",
         1:"apple",
         2:"banana",
         "three":3,
         "four":[1,2,3,4],
         5:('a','b','c')}
print(dict2)
# accesing the value of keys
print(dict2["key"])
print(dict2[1])
# new vlaues can also be assigned to the existing keys
dict2[1]="one"
print(dict2)

{'key': 'value', 1: 'apple', 2: 'banana', 'three': 3, 'four': [1, 2, 3, 4], 5: ('a', 'b', 'c')}
value
apple
{'key': 'value', 1: 'one', 2: 'banana', 'three': 3, 'four': [1, 2, 3, 4], 5: ('a', 'b', 'c')}

## Nested Dictionary

In [14]:
student = {
    "name":"Bhavishya",
    "Subjects":{
        "chem":97,
        "maths":94,
        "physics":89,
        "english":99
    }
}
print(student)
print(student["Subjects"]["chem"])

{'name': 'Bhavishya', 'Subjects': {'chem': 97, 'maths': 94, 'physics': 89, 'english': 99}}
97

## Dictionary Methods

In [20]:
mydict = {1:"one",2:"two",3:"three",4:"four"}
print(mydict.keys()) # returns all keys
print(list(mydict.keys()))
print(tuple(mydict.keys()))

dict_keys([1, 2, 3, 4])
[1, 2, 3, 4]
(1, 2, 3, 4)

In [23]:
print(mydict.values()) #returns all values
print(list(mydict.values()))

dict_values(['one', 'two', 'three', 'four'])
['one', 'two', 'three', 'four']

In [26]:
print(mydict.items()) #returns all (key, value) pairs
pairs = list(mydict.items())
print(pairs[0])

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])
(1, 'one')

In [34]:
print(mydict.get(1)) #returns the key according to value
print(mydict.get(10)) # if we wrote mydict[10] that would have given error

one
None

In [37]:
mydict.update({"key":"value"}) #inserts the specified items to the dictionary
print(mydict)
update1 = {"name":"bhavishya"}
mydict.update(update1)
print(mydict)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'key': 'value'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four', 'key': 'value', 'name': 'bhavishya'}

# SETS IN PYTHON
- Set is the collection of the unordered items.
- Each element in the set must be unique & immutable. In sets we cant store list and dict

In [2]:
collection = {1,2,3,4,5}
print(collection)
print(type(collection))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
collection1 = {} # will empty create dictionary
print(type(collection1))
# empty set
collection2 = set()
print(type(collection2))

<class 'dict'>
<class 'set'>

In [8]:
collection = {1,2,3,4,3,2,5,"hello","world","hello"}
print(collection) # set only stores unique value
print(len(collection)) # counts the unique value

{1, 2, 3, 4, 5, 'hello', 'world'}
7

## Set Methods
Sets are mutable, but set elements are immutable

In [9]:
collection = set()
collection.add(3)# set.add(el) adds el in the set
collection.add(4)
collection.add(1)
print(collection)

{1, 3, 4}

In [10]:
collection = {1,2,3,4,5}
collection.remove(3) #set.remove(el) removes an el
collection.remove(2)
print(collection)

{1, 4, 5}

In [12]:
collection = {1,2,3,4,"hello"}
print(len(collection))
collection.clear() # empties the set
print(len(collection))

5
0

In [18]:
collection = {2,2,3,4,5,6,7,"hello","world"}
collection.pop() # removes an random el
collection.pop()
collection.pop()
print(collection)

{5, 6, 7, 'hello', 'world'}

In [19]:
set1 = {1,2,3,4}
set2 = {2,3,6,7}
print(set1.union(set2)) #combines both set values & returns new
print(set1.intersection(set2)) #combines common values & returns new

{1, 2, 3, 4, 6, 7}
{2, 3}

## Practice Questions

1. Store following word meanings in a python dictionary :
table : “a piece of furniture”,“list of facts & figures”
cat : “a small animal”

In [22]:
meanings = {"table":["a piece of furniture","List of facts and figures"],
            "cat":"a small animal"}
print(meanings)

{'table': ['a piece of furniture', 'List of facts and figures'], 'cat': 'a small animal'}

2. You are given a list of subjects for students. Assume one classroom is required for 1
subject. How many classrooms are needed by all students.
”python”,“java”,“C++”,“python”,“javascript”,“java”,“python”,“java”,“C++”,“C”

In [23]:
classroom = {"python","java","c++","python","javascript","java","c++","c","python","java"}
print(len(classroom))

5

3. WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with
an empty dictionary & add one by one. Use subject name as key & marks as value.

In [25]:
student = {}
student["phy"] = int(input("enter phy marks")) 
student["chem"] = int(input("enter chem marks"))
student["math"] = int(input("enter math marks"))
print(student)

enter phy marks 45
enter chem marks 34
enter math marks 50

{'phy': 45, 'chem': 34, 'math': 50}

In [29]:
student = {}
phy = int(input("enter phy marks"))
student.update({"phy":phy})

chem = int(input("enter chem marks"))
student.update({"chem": chem})

math = int(input("enter math marks"))
student.update({"math":math})
print(student)

enter phy marks 34
enter chem marks 23
enter math marks 21

{'phy': 34, 'chem': 23, 'math': 21}

Figure out a way to store 9 & 9.0 as separate values in the set.
(You can take help of built-in data types)

In [41]:
values = {("int",9),("float",9.0)}
print(values)

{('float', 9.0), ('int', 9)}

In [40]:
values = {9,"9.0"}
print(values)

{9, '9.0'}