# LOOPS IN PYTHON
- Loops are used to repeat instructions.
- 1. While Loop
  2. For Loop
  3. Do While Loop

## While Loop
while condition:

        Statements

1 loop is called 1 iteration and count,i,j or k are called iterators

In [2]:
count =1
while count<=5:
    print("hello world")
    count+=1
print(count)

hello world
hello world
hello world
hello world
hello world
6

In [3]:
count = 1
while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [3]:
count = 5
while count>=1:
    print(count)
    count-=1

5
4
3
2
1

### Practice Questions

1. Print numbers from 1 to 100.

In [9]:
i = 1
while i<=100:
    print(i,end=",") 
    i+=1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

2. Print numbers from 100 to 1.

In [10]:
i = 100
while i>=1:
    print(i,end=",")
    i-=1

100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54,53,52,51,50,49,48,47,46,45,44,43,42,41,40,39,38,37,36,35,34,33,32,31,30,29,28,27,26,25,24,23,22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

3. Print the multiplication table of a number n.

In [11]:
num = int(input("enter the number"))
i = 1
while i<=10:
    print(num*i)
    i+=1

enter the number 2

2
4
6
8
10
12
14
16
18
20

4. Print the elements of the following list using a loop:
[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [12]:
list1 = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]
i = 0
while i < len(list1):
    print(list1[i])
    i+=1

1
4
9
16
25
36
49
64
81
100

5. Search for a number x in this tuple using loop:
(1, 4, 9, 16, 25, 36, 49, 64, 81,100)

In [3]:
tuple1 = (1, 4, 9, 16, 25, 36, 49, 64, 81,100)
i = 0
while i<len(tuple1):
    if (tuple1[i] == 16):
        print(i)
    i+=1

3

## Break and Continue Keywords

### Break : used to terminate the loop when encountered.

In [8]:
i = 0 
while i<=5:
    if (i == 3):
        break;
    print(i)
    i+=1
print("end of looop")

0
1
2
end of looop

In [10]:
tuple1 = (1, 4, 9, 16, 25, 36, 49, 64, 81,100) #without using break statement, the loop will run 10 times
i = 0
while i<len(tuple1):
    if (tuple1[i] == 16):
        print("found at index",i)
        i+=1
    else:
        print("finding")
        i+=1

finding
finding
finding
found at index 3
finding
finding
finding
finding
finding
finding

In [12]:
tuple1 = (1, 4, 9, 16, 25, 36, 49, 64, 81,100) #with using break statement, the loop will run 4 times
i = 0
while i<len(tuple1):
    if (tuple1[i] == 16):
        print("found at index",i)
        break
    else:
        print("finding")
        i+=1

finding
finding
finding
found at index 3

### Continue : terminates execution in the current iteration & continues execution of the loop with the next iteration.

In [14]:
i = 0
while i<=5:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

0
1
2
4
5

In [16]:
# print odd numbers
i = 1
while i<=10:
    if(i%2==0):
        i+=1
        continue #skips the rest statements
    print(i)
    i+=1

1
3
5
7
9

## For Loop
for el in list:

    Some work

In [17]:
list1 = [1,2,3]
for el in list1:
    print(el)

1
2
3

In [18]:
tuple1 = (1,2,3,4)
for el in tuple1:
    print(el)

1
2
3
4

In [19]:
string1 = "bhavishya"
for char in string1:
    print(char)

b
h
a
v
i
s
h
y
a

## For loop with else
for el in list:

    #some work
        
else:

    #work when loop ends
else used as it doesnâ€™t execute when break is used

In [20]:
for el in list1:
    print(el)
else:
    print("END")

1
2
3
END

In [23]:
for el in list1:
    if(el == 3):
        break
    print(el)
else:
    print("END")

1
2

### Practice Questions

1. Print the elements of the following list using a loop:
[1, 4, 9, 16, 25, 36, 49, 64, 81,100]

In [25]:
list1 = [1, 4, 9, 16, 25, 36, 49, 64, 81,100]
for val in list1:
    print(val)

1
4
9
16
25
36
49
64
81
100

2. Search for a number x in this tuple using loop:
(1, 4, 9, 16, 25, 36, 49, 64, 81,100)

In [28]:
tuple1 = (1, 4, 9, 16, 25, 36, 49, 64, 81,100,36)
index=0
for val in tuple1:
    if(val == 36):
        print("found at",index) 
    index+=1

found at 5
found at 10

# range( )
- Range functions returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
- range( start?, stop, step?)

In [29]:
print(range(5))

range(0, 5)

In [30]:
seq = range(5)
for val in seq:
    print(val)

0
1
2
3
4

In [32]:
for _ in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [33]:
for el in range(2,10,2):
    print(el) # prints even number

2
4
6
8

In [34]:
for el in range(2,10):
    print(el)

2
3
4
5
6
7
8
9

### Practice Questions

1. Print numbers from 1 to 100.

In [36]:
for i in range(1,101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

2. Print numbers from 100 to 1.

In [39]:
for i in range(100,0,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

3. Print the multiplication table of a number n.

In [43]:
n = int(input("enter the n"))
for i in range(1,11):
    print(n*i)

enter the n 12

12
24
36
48
60
72
84
96
108
120

# PASS STATEMENT
- pass is a null statement that does nothing. It is used as a placeholder for future code.
- generally used in execption handling

In [44]:
for i in range(5):
    pass

In [45]:
if n==2:
    pass

### Practice Questions

1. WAP to find the sum of first n numbers. (using while)

In [47]:
n = int(input("enter the n = "))
count = 0
total = 0 
while count<=n:
    total += count
    count +=1
print(total)

enter the n =  3

6

2. WAP to find the factorial of first n numbers. (using for)

In [49]:
n = int(input("enter the n = "))
fact = 1
for i in range(1,n+1):
    fact *= i
print(fact)

enter the n =  4

24